<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_alicisidan_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alicisindan"
        tools:targetApi="31" >
        <activity
            android:name=".activities.ui.main.forum.category.ForumAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.advertisement.advertisement.PostEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.advertisement.category.PostAddSubCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.forum.category.ForumAddSubCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.forum.category.ForumEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.advertisement.category.PostAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.messaging.activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.login.SplashActivity"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Alicisindan.NoActionBar" />
        <activity
            android:name=".activities.ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.login.LoadingActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ui.main.home.category.CategoryFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.profile.ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.forum.forum.ForumFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.home.pages.SellFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.home.pages.FilterFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ui.main.home.pages.BuyFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ui.login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.login.SignInActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".activities.ui.messaging.firebase.MessagingService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>